<div class="header">
  <content select="header"></content>
</div>
<div class="box" id="cardPanelBox">
  <content select="*"></content>
  <p>
    <div>{{a}}</div>
    <div>{{b}}</div>
    <button on-click="onAsyncTestClicked">async test</button>
    <div id="log"></div>
  </p>
</div>