:host {
    display: block;
    color: #666;
    position: relative;
}
.header {
    background-color: #fff;
    border-radius: 2px;
    border-color: #e4e5e7;
    border: 1px solid #e4e5e7;
    min-height: 40px;
    line-height: 40px;
    font-weight: bold;
    position: relative;
    padding: 0 50px 0 10px;
    z-index: 3;
    color: red;
}
.box {
    border-radius: 2px;
    background-color: #fff;
    overflow: hidden;
    border-color: #e4e5e7;
    border: 1px solid #e4e5e7;
    border-top: 0px;
}